manifest {
    homePage = 'https://github.com/clemgoub/dnaPipeTE2'
    description = 'pipeline to annotate en assemble transposable elements from raw fastq'
    mainScript = 'main.nf'
    nextflowVersion = '>=21.11.0'
}

report {
  enabled = true
  file = "$baseDir/../results/report.html"
}

profiles {
  standard {
    docker.temp = "auto"
    docker.enabled = true
    resume = true
    process {
      memory = '16GB'
      memory = '16GB'
      withLabel: big_mem_mono_cpus {
        cpus = 1
      }
      withLabel: big_mem_multi_cpus {
        cpus = 24
      }
      withLabel: small_mem_mono_cpus {
        cpus = 1
        memory = '2GB'
      }
      withLabel: small_mem_multi_cpus {
        cpus = 24
        memory = '2GB'
      }
    }
  }
  singularity {
    singularity.enabled = true
    singularity.cacheDir = "./bin/"
    process {
      errorStrategy = 'finish'
      memory = '16GB'
      withLabel: big_mem_mono_cpus {
        cpus = 1
      }
      withLabel: big_mem_multi_cpus {
        cpus = 24
      }
      withLabel: small_mem_mono_cpus {
        cpus = 1
        memory = '2GB'
      }
      withLabel: small_mem_multi_cpus {
        cpus = 24
        memory = '2GB'
      }
    }
  }
}
